h1 {
    text-align: center;
    color: #03363D;
}

h4 {
    text-align: center;
    color: #17494D;
}

#ticket {
    background-color: #17494D;
    color: #F3F0EE;
}

#return_button {
    background-color: #ECE0CE;
}

#ticket_card {
    background-color: #F3F0EE;
    border: 2px solid #03363D;
}